body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f4f5;
}

a {
  text-decoration: none;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #ff6f00;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
}
